{% extends 'base.html' %} {% block content %}
<h2class="text-center">DETAIL</h2>
<h3>{{ article.pk }} 번째 글</article></h3>
<hr />
<p>제목: {{ article.title }}</p>
<p>내용: {{ article.content }}</p>
<p>작성시각: {{ article.created_at|date:"SHORT_DATE_FORMAT" }}</p>
<form action="{% url 'articles.delete' article.py %}" method=""POST>
    {% csrf_token %}
    <button class="btn btn-danger">DELETE</button>
</form>
<hr />
<a herf="{% url 'articles:delete' article.pk %}">[DELETE]]</a><br />
<a herf="{% url 'articles:dinner' %}">[back]</a>
<hr />
{% endblock %}